
<div class="menu-component">

    <div class="title">
        <div><img src="images/website-assets/Gold-STile-B.png" alt="B" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-O.png" alt="O" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-W.png" alt="W" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-D.png" alt="D" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-L.png" alt="L" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-E.png" alt="E" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-R.png" alt="R" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-I.png" alt="I" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-Z.png" alt="Z" class="img"></div>
        <div><img src="images/website-assets/Gold-STile-E.png" alt="E" class="img"></div>
    </div>
    <a href="/play" class="play">
        <div class="grow"><img src="images/website-assets/Gold-STile-P.png" alt="P" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-L.png" alt="L" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-A.png" alt="A" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-Y.png" alt="Y" class="img"></div>
    </a>
    <a href="/login" class="login">
        <div class="grow"><img src="images/website-assets/Gold-STile-L.png" alt="L" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-O.png" alt="O" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-G.png" alt="G" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-I.png" alt="I" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-N.png" alt="N" class="img"></div>
    </a>
    <a href="/leaderboards" class="rankings">
        <div class="grow"><img src="images/website-assets/Gold-STile-R.png" alt="R" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-A.png" alt="A" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-N.png" alt="N" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-K.png" alt="K" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-I.png" alt="I" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-N.png" alt="N" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-G.png" alt="G" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-S.png" alt="S" class="img"></div>
    </a>
    <a href="/logout" class="logout">
        <div class="grow"><img src="images/website-assets/Gold-STile-L.png" alt="L" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-O.png" alt="O" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-G.png" alt="G" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-O.png" alt="O" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-U.png" alt="U" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-T.png" alt="T" class="img"></div>
    </a>
    <a href="/faq" class="faq">
        <div class="grow"><img src="images/website-assets/Gold-STile-F.png" alt="F" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-A.png" alt="A" class="img"></div>
        <div class="grow"><img src="images/website-assets/Gold-STile-Q.png" alt="Q" class="img"></div>
    </a>
</div>
