@page "/leaderboards"
@using CapstoneBlazorServerSite.Components

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <body>
            <div class="sub-header-viewport-container">
                <div class="leaderboards-title">
                
                </div>
                <div class="stats-and-rankings">
                    <div></div>
                    <div><RankingsComponent Title="High Score" PlayerNames="PlayerNamesHS" PlayerHighScores="HighScores" IsHighScore="true" FrequencyHistogramData="FrequencyHistogramHS" UserHighScore="UserHighScore" UserInterval="UserHighScoreInterval" MinScoreHS="MinHighScore" MaxScoreHS="MaxHighScore" /></div>
                    <div><RankingsComponent Title="Points Per Minute" PlayerNames="PlayerNamesPPM" PlayerPointsPerMetric="PointsPerMinutes" IsHighScore="false" FrequencyHistogramData="FrequencyHistogramPPM" UserPointsPerMinute="UserPointsPerMinute" UserInterval="UserPointsPerMinuteInterval" MinScorePPX="MinPointsPerMinute" MaxScorePPX="MaxPointsPerMinute" /></div>
                    <div><RankingsComponent Title="Points Per Word" PlayerNames="PlayerNamesPPW" PlayerPointsPerMetric="PointsPerWords" IsHighScore="false" FrequencyHistogramData="FrequencyHistogramPPW" UserPointsPerWord="UserPointsPerWord" UserInterval="UserPointsPerWordInterval" MinScorePPX="MinPointsPerWord" MaxScorePPX="MaxPointsPerWord" /></div>
                </div>
            </div>
        </body>
        
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
