@page "/leaderboards"
@using CapstoneBlazorServerSite.Components

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <div class="sub-header-viewport-container">
            <div class="leaderboards-title">

            </div>
            <div class="stats-and-rankings">
                <div></div>
                <div><RankingsComponent Title="High Score" PlayerNames="PlayerNamesHS" PlayerHighScores="HighScores" IsHighScore="true" FrequencyHistogramData="FrequencyHistogramHS" UserHighScore="UserHighScore" UserInterval="UserHighScoreInterval"/></div>
                <div><RankingsComponent Title="Points Per Minute" PlayerNames="PlayerNamesPPM" PlayerPointsPerMetric="PointsPerMinutes" IsHighScore="false" FrequencyHistogramData="FrequencyHistogramPPM" UserPointsPerMinute="UserPointsPerMinute" UserInterval="UserPointsPerMinuteInterval"/></div>
                <div><RankingsComponent Title="Points Per Word" PlayerNames="PlayerNamesPPW" PlayerPointsPerMetric="PointsPerWords" IsHighScore="false" FrequencyHistogramData="FrequencyHistogramPPW" UserPointsPerWord="UserPointsPerWord" UserInterval="UserPointsPerWordInterval"/></div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
