@page
@model CapstoneBlazorServerSite.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div>
    <section>
        <form id="account" method="post">
            <h2>Register a new user</h2>
            <hr />
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <input asp-for="Input.Name" aria-required="true"/>
                <label asp-for="Input.Name"></label>
                <span asp-asp-validation-for="Input.Name"></span>
            </div>
            <div>
                <input asp-for="Input.Email" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-asp-validation-for="Input.Email"></span>
            </div>
            <div>
                <input asp-for="Input.Password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-asp-validation-for="Input.Password"></span>
            </div>
            <div>
                <button id="login-submit" type="submit">Register</button>
            </div>
        </form>
    </section>
</div>