@page "/login"
@model CapstoneBlazorServerSite.Areas.Identity.Pages.Account.LoginRegisterModel

@* <link rel="stylesheet" href="~/@(nameof(CapstoneBlazorServerSite)).styles.css" /> *@


<div class="pseudo-body">
    <div class="wrapper">
        <span class="bg-animate"></span>
        <span class="bg-animate2"></span>
        <div class="form-box login">
            <h2 class="animation" style="--i:0; --j:12">Login</h2>
            <partial name="_LoginPartial" model="new LoginRegisterModel.LoginInputModel()" />
        </div>
        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:10;">Welcome Back!</h2>
            <p class="animation" style="--i:1; --j:11;">Did your brain cells get bored while you were on vacation from bowdlerizing?</p>
        </div>

        <div class="form-box register">
            <h2 class="animation" style="--i:17; --j:0;">Register</h2>
            <partial name="_RegisterPartial" model="new LoginRegisterModel.RegisterInputModel()" />
        </div>
        <div class="info-text register">
            <h2 class="animation" style="--i:12; --j:2;">bowd&#183ler&#183ize</h2>
            <div class="definition animation" style="--i:13; --j:3;">/ˈbōdləˌrīz,ˈboudləˌrīz/<br>&nbsp;</div>
            <br>
            <div class="register-subtext animation" style="--i:14; --j:4;">
                <div>verb</div>

                <div>1. censor overzealously</div>
                <div>
                    2. crush words while kicking a**<div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/loginListerner.js" asp-append-version="true"></script>
}