@page "/leaderboards"
@using CapstoneBlazorServerSite.Components

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
       
            <div class="pseudo-body">
                <NavBarComponent />
                <div class="sub-header-viewport-flex-container">
                    <div class="sub-header-viewport-container">
                        <div class="leaderboards-title">
                            <div class="title-wrapper">
                                <div class="title">
                                <div><img src="images/website-assets/Gold-STile-R.png" alt="R" class="img"></div>
                                <div><img src="images/website-assets/Gold-STile-A.png" alt="A" class="img"></div>
                                <div><img src="images/website-assets/Gold-STile-N.png" alt="N" class="img"></div>
                                <div><img src="images/website-assets/Gold-STile-K.png" alt="K" class="img"></div>
                                <div><img src="images/website-assets/Gold-STile-I.png" alt="I" class="img"></div>
                                <div><img src="images/website-assets/Gold-STile-N.png" alt="N" class="img"></div>
                                <div><img src="images/website-assets/Gold-STile-G.png" alt="G" class="img"></div>
                                <div><img src="images/website-assets/Gold-STile-S.png" alt="S" class="img"></div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-and-rankings">
                            <div>
                                <div class="player-stats-container">
                                    <div class="player-name">@UserName</div>
                                    <div class="scores-container">
                                        <div class="score-titles">
                                            <div>High Score: </div>
                                            <div>Points Per Minute: </div>
                                            <div>Points Per Word: </div>
                                        </div>
                                        <div class="score-values">
                                            <div>@UserHighScore</div>
                                            <div>@UserPointsPerMinute.ToString("F2")</div>
                                            <div>@UserPointsPerWord.ToString("F2")</div>
                                        </div>
                                    </div>
                                    <div class="legend">
                                        <div>LEGEND:</div>
                                        <div class="legend-example-column"></div>
                                        <div>indicates your relative position in the total score distribution</div>
                                    </div>
                                </div>
                            </div>
                            <div><RankingsComponent Title="High Score" PlayerNames="PlayerNamesHS" PlayerHighScores="HighScores" IsHighScore="true" FrequencyHistogramData="FrequencyHistogramHS" UserHighScore="UserHighScore" UserInterval="UserHighScoreInterval" MinScoreHS="MinHighScore" MaxScoreHS="MaxHighScore" /></div>
                            <div><RankingsComponent Title="Points Per Minute" PlayerNames="PlayerNamesPPM" PlayerPointsPerMetric="PointsPerMinutes" IsHighScore="false" FrequencyHistogramData="FrequencyHistogramPPM" UserPointsPerMinute="UserPointsPerMinute" UserInterval="UserPointsPerMinuteInterval" MinScorePPX="MinPointsPerMinute" MaxScorePPX="MaxPointsPerMinute" /></div>
                            <div><RankingsComponent Title="Points Per Word" PlayerNames="PlayerNamesPPW" PlayerPointsPerMetric="PointsPerWords" IsHighScore="false" FrequencyHistogramData="FrequencyHistogramPPW" UserPointsPerWord="UserPointsPerWord" UserInterval="UserPointsPerWordInterval" MinScorePPX="MinPointsPerWord" MaxScorePPX="MaxPointsPerWord" /></div>
                        </div>
                    </div>
                </div>
            </div>                        
      
        
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
