@model CapstoneBlazorServerSite.Areas.Identity.Pages.Account.LoginRegisterModel.RegisterInputModel

<link rel="stylesheet" href="~/@(nameof(CapstoneBlazorServerSite)).styles.css" />

@* CSS isolation only applies to HTML tags and not helper tags *@
@* CSS code moved directly to CSHTML to avoid isolation *@

<style>
    .form-box .input-box {
        position: relative;
        width: 100%;
        height: 2.75rem;
        margin: 1.25rem 0;
    }

    .input-box input {
        width: 100%;
        height: 2.75rem;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #fff;
        padding-right: 23px;
        font-size: 1rem;
        color: #fff;
        transition: .5s;
    }

        .input-box input:focus,
        .input-box input:valid {
            border-bottom-color: #9d00ff;
        }

    .input-box label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 1rem;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: -5px;
        color: #0ef;
    }
</style>

<form method="post" asp-page-handler="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="input-box animation" style="--i:18; --j:1;">
        <input asp-for="Name" aria-required="true" required />
        <label asp-for="Name">Username</label>
        <span asp-asp-validation-for="Name"></span>
    </div>
    <div class="input-box animation" style="--i:19; --j:2;">
        <input asp-for="Email" aria-required="true" required />
        <label asp-for="Email">Email</label>
        <span asp-asp-validation-for="Email"></span>
    </div>
    <div class="input-box animation" style="--i:20; --j:3;">
        <input asp-for="Password" aria-required="true" type="password" required />
        <label asp-for="Password">Password</label>
        <span asp-asp-validation-for="Password"></span>
    </div>
    <button id="login-submit" type="submit" class="btn animation" style="--i:21; --j:4;">Register</button>
    <div class="logreg-link animation" style="--i:22; --j:5;">
        <p>Already have an account? <a href="#" class="login-link">Login</a></p>
    </div>
</form>
